<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edusystem.mapper.KctjSimilarityMapper">
  <resultMap id="BaseResultMap" type="com.edusystem.entity.KctjSimilarity">
    <result column="stuednt_id" jdbcType="VARCHAR" property="stuedntId" />
    <result column="student_ref_id" jdbcType="VARCHAR" property="studentRefId" />
    <result column="similarity" jdbcType="DECIMAL" property="similarity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stuednt_id, student_ref_id, similarity
  </sql>
  <select id="selectByExample" parameterType="com.edusystem.entity.KctjSimilarityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kctj_similarity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.edusystem.entity.KctjSimilarityExample">
    delete from kctj_similarity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edusystem.entity.KctjSimilarity">
    insert into kctj_similarity (stuednt_id, student_ref_id, similarity
      )
    values (#{stuedntId,jdbcType=VARCHAR}, #{studentRefId,jdbcType=VARCHAR}, #{similarity,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edusystem.entity.KctjSimilarity">
    insert into kctj_similarity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuedntId != null">
        stuednt_id,
      </if>
      <if test="studentRefId != null">
        student_ref_id,
      </if>
      <if test="similarity != null">
        similarity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuedntId != null">
        #{stuedntId,jdbcType=VARCHAR},
      </if>
      <if test="studentRefId != null">
        #{studentRefId,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        #{similarity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edusystem.entity.KctjSimilarityExample" resultType="java.lang.Long">
    select count(*) from kctj_similarity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kctj_similarity
    <set>
      <if test="record.stuedntId != null">
        stuednt_id = #{record.stuedntId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentRefId != null">
        student_ref_id = #{record.studentRefId,jdbcType=VARCHAR},
      </if>
      <if test="record.similarity != null">
        similarity = #{record.similarity,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kctj_similarity
    set stuednt_id = #{record.stuedntId,jdbcType=VARCHAR},
      student_ref_id = #{record.studentRefId,jdbcType=VARCHAR},
      similarity = #{record.similarity,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>