<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edusystem.mapper.KqinfoMapper">
  <resultMap id="BaseResultMap" type="com.edusystem.entity.Kqinfo">
    <id column="kqinfo_id" jdbcType="VARCHAR" property="kqinfoId" />
    <result column="kq_id" jdbcType="VARCHAR" property="kqId" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="kqinfo_res" jdbcType="INTEGER" property="kqinfoRes" />
    <result column="kqinfo_time" jdbcType="TIMESTAMP" property="kqinfoTime" />
    <result column="teachtask_id" jdbcType="VARCHAR" property="teachtaskId" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    kqinfo_id, kq_id, student_id, student_name, class_id, kqinfo_res, kqinfo_time, teachtask_id, 
    course_id, course_name
  </sql>
  <select id="selectByExample" parameterType="com.edusystem.entity.KqinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kqinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kqinfo
    where kqinfo_id = #{kqinfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kqinfo
    where kqinfo_id = #{kqinfoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.edusystem.entity.KqinfoExample">
    delete from kqinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edusystem.entity.Kqinfo">
    insert into kqinfo (kqinfo_id, kq_id, student_id, 
      student_name, class_id, kqinfo_res, 
      kqinfo_time, teachtask_id, course_id, 
      course_name)
    values (#{kqinfoId,jdbcType=VARCHAR}, #{kqId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, 
      #{studentName,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{kqinfoRes,jdbcType=INTEGER}, 
      #{kqinfoTime,jdbcType=TIMESTAMP}, #{teachtaskId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, 
      #{courseName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edusystem.entity.Kqinfo">
    insert into kqinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kqinfoId != null">
        kqinfo_id,
      </if>
      <if test="kqId != null">
        kq_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="kqinfoRes != null">
        kqinfo_res,
      </if>
      <if test="kqinfoTime != null">
        kqinfo_time,
      </if>
      <if test="teachtaskId != null">
        teachtask_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kqinfoId != null">
        #{kqinfoId,jdbcType=VARCHAR},
      </if>
      <if test="kqId != null">
        #{kqId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="kqinfoRes != null">
        #{kqinfoRes,jdbcType=INTEGER},
      </if>
      <if test="kqinfoTime != null">
        #{kqinfoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teachtaskId != null">
        #{teachtaskId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edusystem.entity.KqinfoExample" resultType="java.lang.Long">
    select count(*) from kqinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kqinfo
    <set>
      <if test="record.kqinfoId != null">
        kqinfo_id = #{record.kqinfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.kqId != null">
        kq_id = #{record.kqId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentName != null">
        student_name = #{record.studentName,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.kqinfoRes != null">
        kqinfo_res = #{record.kqinfoRes,jdbcType=INTEGER},
      </if>
      <if test="record.kqinfoTime != null">
        kqinfo_time = #{record.kqinfoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teachtaskId != null">
        teachtask_id = #{record.teachtaskId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kqinfo
    set kqinfo_id = #{record.kqinfoId,jdbcType=VARCHAR},
      kq_id = #{record.kqId,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      student_name = #{record.studentName,jdbcType=VARCHAR},
      class_id = #{record.classId,jdbcType=VARCHAR},
      kqinfo_res = #{record.kqinfoRes,jdbcType=INTEGER},
      kqinfo_time = #{record.kqinfoTime,jdbcType=TIMESTAMP},
      teachtask_id = #{record.teachtaskId,jdbcType=VARCHAR},
      course_id = #{record.courseId,jdbcType=VARCHAR},
      course_name = #{record.courseName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edusystem.entity.Kqinfo">
    update kqinfo
    <set>
      <if test="kqId != null">
        kq_id = #{kqId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null">
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="kqinfoRes != null">
        kqinfo_res = #{kqinfoRes,jdbcType=INTEGER},
      </if>
      <if test="kqinfoTime != null">
        kqinfo_time = #{kqinfoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teachtaskId != null">
        teachtask_id = #{teachtaskId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
    </set>
    where kqinfo_id = #{kqinfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edusystem.entity.Kqinfo">
    update kqinfo
    set kq_id = #{kqId,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      student_name = #{studentName,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      kqinfo_res = #{kqinfoRes,jdbcType=INTEGER},
      kqinfo_time = #{kqinfoTime,jdbcType=TIMESTAMP},
      teachtask_id = #{teachtaskId,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR}
    where kqinfo_id = #{kqinfoId,jdbcType=VARCHAR}
  </update>
</mapper>