<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edusystem.mapper.TkMapper">
  <resultMap id="BaseResultMap" type="com.edusystem.entity.Tk">
    <id column="tk_id" jdbcType="VARCHAR" property="tkId" />
    <result column="tk_tkjsId" jdbcType="VARCHAR" property="tkTkjsid" />
    <result column="tk_btkjsId" jdbcType="VARCHAR" property="tkBtkjsid" />
    <result column="teachtask_id" jdbcType="VARCHAR" property="teachtaskId" />
    <result column="tk_needNum" jdbcType="INTEGER" property="tkNeednum" />
    <result column="tk_realNum" jdbcType="INTEGER" property="tkRealnum" />
    <result column="tk_score" jdbcType="INTEGER" property="tkScore" />
    <result column="tk_comments" jdbcType="VARCHAR" property="tkComments" />
    <result column="tk_time" jdbcType="TIMESTAMP" property="tkTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tk_id, tk_tkjsId, tk_btkjsId, teachtask_id, tk_needNum, tk_realNum, tk_score, tk_comments, 
    tk_time
  </sql>
  <select id="selectByExample" parameterType="com.edusystem.entity.TkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tk
    where tk_id = #{tkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tk
    where tk_id = #{tkId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.edusystem.entity.TkExample">
    delete from tk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edusystem.entity.Tk">
    insert into tk (tk_id, tk_tkjsId, tk_btkjsId, 
      teachtask_id, tk_needNum, tk_realNum, 
      tk_score, tk_comments, tk_time
      )
    values (#{tkId,jdbcType=VARCHAR}, #{tkTkjsid,jdbcType=VARCHAR}, #{tkBtkjsid,jdbcType=VARCHAR}, 
      #{teachtaskId,jdbcType=VARCHAR}, #{tkNeednum,jdbcType=INTEGER}, #{tkRealnum,jdbcType=INTEGER}, 
      #{tkScore,jdbcType=INTEGER}, #{tkComments,jdbcType=VARCHAR}, #{tkTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edusystem.entity.Tk">
    insert into tk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tkId != null">
        tk_id,
      </if>
      <if test="tkTkjsid != null">
        tk_tkjsId,
      </if>
      <if test="tkBtkjsid != null">
        tk_btkjsId,
      </if>
      <if test="teachtaskId != null">
        teachtask_id,
      </if>
      <if test="tkNeednum != null">
        tk_needNum,
      </if>
      <if test="tkRealnum != null">
        tk_realNum,
      </if>
      <if test="tkScore != null">
        tk_score,
      </if>
      <if test="tkComments != null">
        tk_comments,
      </if>
      <if test="tkTime != null">
        tk_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tkId != null">
        #{tkId,jdbcType=VARCHAR},
      </if>
      <if test="tkTkjsid != null">
        #{tkTkjsid,jdbcType=VARCHAR},
      </if>
      <if test="tkBtkjsid != null">
        #{tkBtkjsid,jdbcType=VARCHAR},
      </if>
      <if test="teachtaskId != null">
        #{teachtaskId,jdbcType=VARCHAR},
      </if>
      <if test="tkNeednum != null">
        #{tkNeednum,jdbcType=INTEGER},
      </if>
      <if test="tkRealnum != null">
        #{tkRealnum,jdbcType=INTEGER},
      </if>
      <if test="tkScore != null">
        #{tkScore,jdbcType=INTEGER},
      </if>
      <if test="tkComments != null">
        #{tkComments,jdbcType=VARCHAR},
      </if>
      <if test="tkTime != null">
        #{tkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edusystem.entity.TkExample" resultType="java.lang.Long">
    select count(*) from tk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tk
    <set>
      <if test="record.tkId != null">
        tk_id = #{record.tkId,jdbcType=VARCHAR},
      </if>
      <if test="record.tkTkjsid != null">
        tk_tkjsId = #{record.tkTkjsid,jdbcType=VARCHAR},
      </if>
      <if test="record.tkBtkjsid != null">
        tk_btkjsId = #{record.tkBtkjsid,jdbcType=VARCHAR},
      </if>
      <if test="record.teachtaskId != null">
        teachtask_id = #{record.teachtaskId,jdbcType=VARCHAR},
      </if>
      <if test="record.tkNeednum != null">
        tk_needNum = #{record.tkNeednum,jdbcType=INTEGER},
      </if>
      <if test="record.tkRealnum != null">
        tk_realNum = #{record.tkRealnum,jdbcType=INTEGER},
      </if>
      <if test="record.tkScore != null">
        tk_score = #{record.tkScore,jdbcType=INTEGER},
      </if>
      <if test="record.tkComments != null">
        tk_comments = #{record.tkComments,jdbcType=VARCHAR},
      </if>
      <if test="record.tkTime != null">
        tk_time = #{record.tkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tk
    set tk_id = #{record.tkId,jdbcType=VARCHAR},
      tk_tkjsId = #{record.tkTkjsid,jdbcType=VARCHAR},
      tk_btkjsId = #{record.tkBtkjsid,jdbcType=VARCHAR},
      teachtask_id = #{record.teachtaskId,jdbcType=VARCHAR},
      tk_needNum = #{record.tkNeednum,jdbcType=INTEGER},
      tk_realNum = #{record.tkRealnum,jdbcType=INTEGER},
      tk_score = #{record.tkScore,jdbcType=INTEGER},
      tk_comments = #{record.tkComments,jdbcType=VARCHAR},
      tk_time = #{record.tkTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edusystem.entity.Tk">
    update tk
    <set>
      <if test="tkTkjsid != null">
        tk_tkjsId = #{tkTkjsid,jdbcType=VARCHAR},
      </if>
      <if test="tkBtkjsid != null">
        tk_btkjsId = #{tkBtkjsid,jdbcType=VARCHAR},
      </if>
      <if test="teachtaskId != null">
        teachtask_id = #{teachtaskId,jdbcType=VARCHAR},
      </if>
      <if test="tkNeednum != null">
        tk_needNum = #{tkNeednum,jdbcType=INTEGER},
      </if>
      <if test="tkRealnum != null">
        tk_realNum = #{tkRealnum,jdbcType=INTEGER},
      </if>
      <if test="tkScore != null">
        tk_score = #{tkScore,jdbcType=INTEGER},
      </if>
      <if test="tkComments != null">
        tk_comments = #{tkComments,jdbcType=VARCHAR},
      </if>
      <if test="tkTime != null">
        tk_time = #{tkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tk_id = #{tkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edusystem.entity.Tk">
    update tk
    set tk_tkjsId = #{tkTkjsid,jdbcType=VARCHAR},
      tk_btkjsId = #{tkBtkjsid,jdbcType=VARCHAR},
      teachtask_id = #{teachtaskId,jdbcType=VARCHAR},
      tk_needNum = #{tkNeednum,jdbcType=INTEGER},
      tk_realNum = #{tkRealnum,jdbcType=INTEGER},
      tk_score = #{tkScore,jdbcType=INTEGER},
      tk_comments = #{tkComments,jdbcType=VARCHAR},
      tk_time = #{tkTime,jdbcType=TIMESTAMP}
    where tk_id = #{tkId,jdbcType=VARCHAR}
  </update>
</mapper>